<a href="https://colab.research.google.com/github/justinmaines/StockMarketPrediction/blob/main/StockMarketML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pre-processing

In [ ]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.model_selection import train_test_split
from google.colab import drive

drive.mount("/content/drive/")
%cd '/content/drive/My Drive/Colab Notebooks/Project2'
train_data = pd.read_csv('train_data.csv')
test_data = pd.read_csv('test_data.csv')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
/content/drive/My Drive/Colab Notebooks/Project2

In [ ]:
train_data.head()

,Name,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,Interest Expense,...,3Y Dividend per Share Growth (per Share),Receivables growth,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Sector,Class
0,SBFG,4.520300e+07,0.051400,0.000000e+00,4.520300e+07,0.000000e+00,2.754700e+07,3.157800e+07,1.362500e+07,0.000000e+00,...,0.205100,0.000000,0.000000,0.074300,0.100800,-0.072900,0.000000,0.009600,Financial Services,0
1,FOMX,3.669000e+06,-0.336200,1.300000e+04,3.656000e+06,5.777900e+07,1.149100e+07,6.927000e+07,-6.561400e+07,0.000000e+00,...,0.000000,-0.692200,0.000000,-0.408300,-0.544600,-1.000000,1.231100,0.246200,Healthcare,0
2,VIA,1.326300e+10,1.169073,7.436000e+09,5.827000e+09,1.161536e+08,3.005000e+09,3.228000e+09,2.599000e+09,1.082823e+08,...,0.004648,7.361843,0.106999,1.401431,0.268703,1.627347,0.423634,0.941875,Consumer Cyclical,0
3,ABM,5.453600e+09,0.060000,4.881200e+09,5.724000e+08,0.000000e+00,4.366000e+08,4.706000e+08,1.018000e+08,1.920000e+07,...,0.031300,0.291700,0.000000,0.673100,0.378200,3.391400,0.000000,0.064600,Industrials,0
4,THS,6.307100e+09,0.021400,5.226700e+09,1.080400e+09,0.000000e+00,7.007000e+08,1.493200e+09,-4.128000e+08,1.268000e+08,...,0.000000,-0.231200,-0.061000,-0.117100,-0.118100,-0.087900,0.000000,-0.059200,Consumer Defensive,1

In [ ]:
test_data.head()

,Name,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,Interest Expense,...,5Y Dividend per Share Growth (per Share),3Y Dividend per Share Growth (per Share),Receivables growth,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Sector
0,VIPS,1.102060e+10,0.3525,8.557810e+09,2.462794e+09,2.733452e+08,8.201852e+08,2.056136e+09,4.066575e+08,1.245995e+07,...,-0.00926,0.0000,0.9219,0.4764,0.5889,1.5821,0.3805,0.2141,0.1920,Consumer Defensive
1,WMT,4.858730e+11,0.0078,3.612560e+11,1.246170e+11,0.000000e+00,1.018530e+11,1.018530e+11,2.276400e+10,2.367000e+09,...,0.06500,0.0208,0.0375,-0.0320,-0.0038,-0.0011,-0.0819,0.0000,0.0496,Consumer Defensive
2,MDLZ,2.589600e+10,-0.0010,1.586200e+10,1.003400e+10,0.000000e+00,5.938000e+09,6.758000e+09,3.276000e+09,3.820000e+08,...,-0.44590,0.1224,0.0161,0.0356,0.0231,0.0676,0.0263,0.0000,-0.0929,Consumer Defensive
3,MO,2.557600e+10,-0.0065,1.361300e+10,1.196300e+10,0.000000e+00,2.338000e+09,2.370000e+09,9.593000e+09,7.050000e+08,...,0.08360,0.0829,-0.0596,0.0848,-0.0594,0.2306,0.0009,0.0000,-0.1217,Consumer Defensive
4,TAL,1.043100e+09,0.6826,5.223270e+08,5.207730e+08,0.000000e+00,3.892920e+08,3.861790e+08,1.345940e+08,1.314500e+07,...,0.00000,-0.2461,-0.1303,3.7016,0.7231,0.4516,0.9758,0.0000,0.6595,Consumer Defensive

In [ ]:
train_data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Name,3459,3459,SBFG,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Revenue,3075.0,NaN,NaN,NaN,5361782064.523938,35316432999.146568,-30045000.0,59000000.0,461487000.0,2326197000.0,1695864000000.0
Revenue Growth,2939.0,NaN,NaN,NaN,1.169073,22.485009,-2.1257,0.0,0.0725,0.2054,825.9598
Cost of Revenue,2964.0,NaN,NaN,NaN,3389895844.764956,29596563547.823395,-2986887894.7368,2948825.0,174198000.0,1220002000.0,1465577000000.0
Gross Profit,3068.0,NaN,NaN,NaN,2059012355.865551,8479467471.461559,-73210000.0,33631500.0,204818500.0,943839000.0,230287000000.0
...,...,...,...,...,...,...,...,...,...,...,...
Debt Growth,2851.0,NaN,NaN,NaN,1.627347,39.53877,-1.0,-0.06535,0.0,0.149,1981.0616
R&D Expense Growth,2854.0,NaN,NaN,NaN,0.423634,15.691953,-1.2181,0.0,0.0,0.0,837.0
SG&A Expenses Growth,2868.0,NaN,NaN,NaN,0.941875,38.19309,-2.3699,-0.004025,0.06635,0.178675,2042.0
Sector,3459,11,Financial Services,894,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Class,3459.0,NaN,NaN,NaN,0.277826,0.447992,0.0,0.0,0.0,1.0,1.0

In [ ]:
test_data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Name,1488,1488,VIPS,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Revenue,1488.0,NaN,NaN,NaN,4461171628.777041,19411740045.761875,-21998000.0,71459750.0,528241000.0,3648666500.0,485873000000.0
Revenue Growth,1488.0,NaN,NaN,NaN,0.463785,4.925245,-6.8727,0.00395,0.1042,0.407225,174.5106
Cost of Revenue,1488.0,NaN,NaN,NaN,2889258572.022936,15136224083.943058,-2105100000.0,12067000.0,235705000.0,2574675000.0,361256000000.0
Gross Profit,1488.0,NaN,NaN,NaN,1654021600.894304,6153815041.794551,-813823000.0,35710750.0,244874000.0,1336304750.0,124617000000.0
...,...,...,...,...,...,...,...,...,...,...,...
Book Value per Share Growth,1488.0,NaN,NaN,NaN,0.132985,6.251179,-221.0,-0.03015,0.1029,0.1576,41.0
Debt Growth,1488.0,NaN,NaN,NaN,1.072812,12.932745,-1.0,-0.01615,0.02895,0.579675,391.3375
R&D Expense Growth,1488.0,NaN,NaN,NaN,0.293888,4.702974,-1.0,0.0,0.0,0.293888,170.1071
SG&A Expenses Growth,1488.0,NaN,NaN,NaN,0.216366,1.382058,-0.9998,0.001675,0.0971,0.216366,38.8689
Sector,1488,11,Financial Services,342,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Feature Engineering

In [ ]:
for a in train_data:
  if train_data[a].count() < 3459:
    train_data[a].fillna(train_data[a].mean(), inplace=True)

for a in test_data:
  if test_data[a].count() < 1488:
    test_data[a].fillna(test_data[a].mean(), inplace=True)

In [ ]:
train_data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Name,3459,3459,SBFG,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Revenue,3459.0,NaN,NaN,NaN,5361782064.523939,33297855935.738152,-30045000.0,82113500.0,705007000.0,5293000000.0,1695864000000.0
Revenue Growth,3459.0,NaN,NaN,NaN,1.169073,20.72557,-2.1257,0.0112,0.1059,0.4297,825.9598
Cost of Revenue,3459.0,NaN,NaN,NaN,3389895844.764956,27396470710.129982,-2986887894.7368,10248769.0,345142000.0,3389895844.764956,1465577000000.0
Gross Profit,3459.0,NaN,NaN,NaN,2059012355.865551,7985699651.786387,-73210000.0,42908975.0,302870000.0,1925000000.0,230287000000.0
...,...,...,...,...,...,...,...,...,...,...,...
Debt Growth,3459.0,NaN,NaN,NaN,1.627347,35.894929,-1.0,-0.02385,0.0254,0.7344,1981.0616
R&D Expense Growth,3459.0,NaN,NaN,NaN,0.423634,14.253299,-1.2181,0.0,0.0,0.317,837.0
SG&A Expenses Growth,3459.0,NaN,NaN,NaN,0.941875,34.776522,-2.3699,0.0056,0.1022,0.42325,2042.0
Sector,3459,11,Financial Services,894,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Class,3459.0,NaN,NaN,NaN,0.277826,0.447992,0.0,0.0,0.0,1.0,1.0

In [ ]:
train_data_drop = train_data.drop(columns=['Name','Sector'])
test_data_drop = test_data.drop(columns=['Name','Sector'])

In [ ]:
train_data['Class'].value_counts()

0    2498
1     961
Name: Class, dtype: int64

In [ ]:
class_zero = train_data_drop.query('Class == 0').sample(n=961)
class_one = train_data_drop.query('Class == 1')

downbalanced_train = pd.concat([class_zero,class_one], axis=0)

In [ ]:
y = downbalanced_train['Class']
X = downbalanced_train.drop(columns = ['Class'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y)

Model Selection

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score
# K-Neighbors
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)
print(knn)
print(metrics.f1_score(y_test, y_pred_knn))
print(roc_auc_score(y_test, y_pred_knn))

KNeighborsClassifier()
0.6443298969072165
0.6415425302245251

In [ ]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier()
mlp.fit(X_train, y_train)
y_pred_mlp = mlp.predict(X_test)

print(mlp)
print(metrics.f1_score(y_test, y_pred_mlp))
print(roc_auc_score(y_test, y_pred_mlp))

MLPClassifier()
0.6259168704156478
0.6024395509499137

In [ ]:
from xgboost import XGBClassifier

xgb = XGBClassifier(random_state=123)
xgb.fit(X_train, y_train)
y_pred_xgb = xgb.predict(X_test)

print(xgb)
print(metrics.f1_score(y_test, y_pred_xgb))
print(roc_auc_score(y_test, y_pred_xgb))

XGBClassifier(random_state=123)
0.659846547314578
0.6545093911917099

In [ ]:
# Extra Trees
from sklearn.ensemble import ExtraTreesClassifier

xtrees = ExtraTreesClassifier(random_state=123)
xtrees.fit(X_train, y_train)
y_pred_xtrees = xtrees.predict(X_test)

print(xtrees)
print(metrics.f1_score(y_test, y_pred_xtrees))
print(roc_auc_score(y_test, y_pred_xtrees))

ExtraTreesClassifier(random_state=123)
0.6580976863753214
0.654522884283247

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_jobs=-1, random_state=123)
rfc.fit(X_train, y_train)
y_pred_rfc = rfc.predict(X_test)

print(rfc)
print(metrics.f1_score(y_test, y_pred_rfc))
print(roc_auc_score(y_test, y_pred_rfc))

RandomForestClassifier(n_jobs=-1, random_state=123)
0.6770833333333335
0.6779333981001728

Hyperparameter Tuning

In [ ]:
from sklearn.model_selection import GridSearchCV, KFold

params = {
    'n_estimators': [100, 200, 500],
    'criterion': ['gini', 'entropy'],
    'min_samples_split': [1,2,4,5],
    'min_samples_leaf': [1,2,4,5],
    'max_leaf_nodes': [4,10,20,50,None]
}

gs1 = GridSearchCV(RandomForestClassifier(n_jobs=-1), params, n_jobs=-1, cv=KFold(n_splits=3), scoring='roc_auc')
gs1.fit(X_train, y_train)

print('Best score:', gs1.best_score_)
print('Best score:', gs1.best_params_)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
360 fits failed out of a total of 1440.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
360 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py", line 467, in fit
    for i, t in enumerate(trees)
  File "/usr/local/lib/python3.7/dist-packages/joblib/parallel.py", line 1098, in __call__
    self.retrieve()
  File "/usr/local/lib/python3.7/dist-packages/joblib/parallel.py", line 975, in retrieve
    self._output.extend(job.get(timeout=self.timeout))
  File "/usr/lib/python3.7/multiprocessing/pool.py", line 657, in get
    raise self._value
  File "/usr/lib/python3.7/multiprocessing/pool.py", line 121, in worker
    result = (True, func(*args, **kwds))
  File "/usr/local/lib/python3.7/dist-packages/joblib/_parallel_backends.py", line 620, in __call__
    return self.func(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/joblib/parallel.py", line 289, in __call__
    for func, args, kwargs in self.items]
  File "/usr/local/lib/python3.7/dist-packages/joblib/parallel.py", line 289, in <listcomp>
    for func, args, kwargs in self.items]
  File "/usr/local/lib/python3.7/dist-packages/sklearn/utils/fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 942, in fit
    X_idx_sorted=X_idx_sorted,
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 254, in fit
    % self.min_samples_split
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan 0.64675568 0.64552639 0.64574911
 0.65485731 0.64428094 0.64413012 0.64442479 0.64596524 0.64844108
        nan        nan        nan 0.64193602 0.63995144 0.64536119
 0.63921326 0.64161521 0.64611407 0.64611035 0.64370866 0.64639411
        nan        nan        nan 0.64476046 0.64226706 0.64356698
 0.64762644 0.64658075 0.64536862 0.64109864 0.63988212 0.64796553
        nan        nan        nan 0.64589363 0.641614   0.64550909
 0.64447771 0.63835303 0.64485981 0.64659853 0.64332862 0.64636671
        nan        nan        nan 0.67090397 0.67294838 0.66875443
 0.67401103 0.67049535 0.6681896  0.67173072 0.66779233 0.67289201
        nan        nan        nan 0.67098937 0.67528519 0.67220222
 0.66993451 0.67532813 0.66742021 0.66661916 0.66976301 0.67255206
        nan        nan        nan 0.66759214 0.67063784 0.66943477
 0.67301947 0.6712232  0.67024498 0.66672461 0.67167035 0.66934975
        nan        nan        nan 0.66111931 0.6683322  0.67014661
 0.66825379 0.67180442 0.67294629 0.66687804 0.67192738 0.67043721
        nan        nan        nan 0.67335541 0.68001069 0.68296741
 0.67681329 0.67910966 0.68056341 0.6787268  0.67924287 0.67903717
        nan        nan        nan 0.67762323 0.67652058 0.67924614
 0.67315865 0.68555324 0.68057666 0.672356   0.67364173 0.67762374
        nan        nan        nan 0.67335013 0.67765429 0.67889114
 0.67840419 0.67823551 0.67871605 0.68231604 0.67976254 0.68167951
        nan        nan        nan 0.67206526 0.6820583  0.67940477
 0.67398893 0.68191021 0.68062773 0.67613196 0.67788131 0.68100909
        nan        nan        nan 0.67969813 0.68430451 0.69252277
 0.67903681 0.68076682 0.68849689 0.67592084 0.6827522  0.68710856
        nan        nan        nan 0.68381538 0.68672233 0.68745918
 0.6823792  0.68661877 0.68567236 0.67944592 0.68357188 0.68553304
        nan        nan        nan 0.67903263 0.68666738 0.68679827
 0.68367814 0.68205126 0.68913955 0.67769875 0.68639607 0.68700856
        nan        nan        nan 0.68602551 0.68764001 0.68640016
 0.68032489 0.68544004 0.68837378 0.6862837  0.68667547 0.68607916
        nan        nan        nan 0.67696969 0.68591834 0.68884015
 0.67621635 0.6800856  0.68846257 0.67661312 0.68862124 0.68748634
        nan        nan        nan 0.68361572 0.68421978 0.68840547
 0.68244598 0.68881419 0.6880472  0.67731218 0.68551477 0.68565939
        nan        nan        nan 0.69608203 0.68378288 0.68897365
 0.68366147 0.6867145  0.68982401 0.68468318 0.69148923 0.68777441
        nan        nan        nan 0.68050492 0.68598606 0.69006689
 0.6839401  0.68776353 0.68657503 0.68252389 0.68417232 0.68985141
        nan        nan        nan 0.64254801 0.64586539 0.64608345
 0.63867997 0.64310621 0.64169444 0.64081881 0.64389686 0.64495956
        nan        nan        nan 0.64370234 0.64571226 0.64529455
 0.64118397 0.64109782 0.64660825 0.64437534 0.64204402 0.64531425
        nan        nan        nan 0.63809716 0.64008233 0.64381958
 0.6494404  0.64330052 0.64400046 0.63740261 0.64173228 0.64484671
        nan        nan        nan 0.64215092 0.64449591 0.64487149
 0.6420271  0.64398316 0.64578358 0.63898364 0.63987604 0.64057442
        nan        nan        nan 0.66769855 0.66536226 0.66907955
 0.66420127 0.66863456 0.66696373 0.66443181 0.67135256 0.66872069
        nan        nan        nan 0.66265423 0.66611533 0.67006457
 0.66598419 0.66759154 0.67180534 0.66553905 0.66557576 0.66449991
        nan        nan        nan 0.67020721 0.66860816 0.66755212
 0.6606327  0.66714835 0.67052015 0.6719896  0.66644258 0.66964675
        nan        nan        nan 0.66114208 0.66620385 0.6660924
 0.66165616 0.66654944 0.67005326 0.66713834 0.66902625 0.66728171
        nan        nan        nan 0.66960428 0.67434672 0.67842308
 0.66831083 0.67621461 0.67769662 0.67179121 0.67921721 0.6802658
        nan        nan        nan 0.67734148 0.6788586  0.67886731
 0.67175521 0.67512375 0.67942129 0.66511523 0.67301531 0.67773364
        nan        nan        nan 0.67723614 0.67729101 0.67595936
 0.67792552 0.67548707 0.67814454 0.66635899 0.67515273 0.67615098
        nan        nan        nan 0.67490984 0.68006871 0.67699228
 0.6747853  0.67742996 0.67978888 0.67320669 0.67521525 0.68093255
        nan        nan        nan 0.67446363 0.68399695 0.68629992
 0.68557909 0.68277707 0.68594831 0.68534348 0.68103751 0.68444416
        nan        nan        nan 0.68180442 0.68159992 0.68080322
 0.68034029 0.68086578 0.68693976 0.68650612 0.68228087 0.68256609
        nan        nan        nan 0.68316268 0.67941733 0.6849977
 0.67853811 0.67632805 0.68606295 0.68318523 0.68461438 0.68516122
        nan        nan        nan 0.68051783 0.68078045 0.68719009
 0.68480443 0.67935991 0.68659941 0.68097816 0.67822774 0.68544308
        nan        nan        nan 0.67543161 0.68283728 0.69004441
 0.68671974 0.67632678 0.68659455 0.68292064 0.68320753 0.68586238
        nan        nan        nan 0.67954715 0.68527765 0.68146702
 0.680278   0.68790453 0.69094567 0.68071814 0.68564644 0.6896188
        nan        nan        nan 0.68212125 0.68325977 0.68438665
 0.67772368 0.67967663 0.68826928 0.68375694 0.68395815 0.68728566
        nan        nan        nan 0.67873311 0.68614842 0.68647919
 0.6791957  0.68821926 0.68914403 0.67650429 0.68043324 0.68569605]
  category=UserWarning,

Best score: 0.6960820279962056
Best score: {'criterion': 'gini', 'max_leaf_nodes': None, 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 100}

Performance Evaluation

In [ ]:
hyper_rfc = RandomForestClassifier(
    n_jobs = -1,
    criterion = 'gini',
    max_leaf_nodes = None,
    min_samples_leaf = 4,
    min_samples_split = 2,
    n_estimators = 100
)

hyper_rfc.fit(X_train, y_train)
y_pred_hrfc = hyper_rfc.predict(X_test)

print(metrics.f1_score(y_test, y_pred_hrfc))
print(roc_auc_score(y_test, y_pred_hrfc))

0.69
0.6778254533678756

Outputting Data

In [ ]:
y_pred = hyper_rfc.predict(test_data_drop)
y_pred = pd.DataFrame({'Class': y_pred})
name = test_data['Name']
output = pd.concat([name,y_pred],axis=1)
output.to_csv('rfc_submission.csv',index=False)